<!DOCTYPE html>
<html lang="pl">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title></title>
  </head>

  <script type="text/javascript">
    function input_change_text(){
      document.getElementsByClassName('custom-file-label')[0].textContent = document.getElementsByClassName('custom-file-input')[0].files[0].name;
    }

    function change_mode(id){
      button1 = document.getElementsByClassName('switch_button')[0];
      button2 = document.getElementsByClassName('switch_button')[1];
      if (id==1 && button1.style.backgroundColor=="white"){
        button1.style = "background-color: blueviolet; color: white;";
        button2.style = "background-color: white; color: black;";
        document.getElementsByTagName('form')[0].action = "/decrypt_file";
      }
      if (id==2 && button2.style.backgroundColor=="white"){
        button1.style = "background-color: white; color: black;";
        button2.style = "background-color: blueviolet; color: white;";
        document.getElementsByTagName('form')[0].action = "/encrypt_file";
      }
    }

    function darkmode(){
      let current_text = document.getElementById("darkmode").textContent;
      if(current_text == "Dark Mode: Off"){
        document.body.style = "background-color:#2f2f2f;";
        document.getElementsByTagName('select')[0].style = "background-color:#2f2f2f; color:white;";
        document.getElementsByClassName('custom-file-label')[0].style = "background-color: #2f2f2f; color:white;";
        document.getElementById("darkmode").textContent = "Dark Mode: On";
        document.getElementById("file_to_encrypt").style = "color: white;";
      }
      else {
        document.getElementsByTagName('select')[0].style = "background-color:white; color:black;";
        document.body.style = "background-color: white;";
        document.getElementsByClassName('custom-file-label')[0].style = "background-color: white; color:black;";
        document.getElementById("darkmode").textContent = "Dark Mode: Off";
        document.getElementById("file_to_encrypt").style = "color: black;";
      }

      $('input[type="file"]').change(function(e){
        var fileName = e.target.files[0].name;
        $('.custom-file-label').html(fileName);
    });
    }

  
  </script>

  <body>
    <header>
      The Ultimate Encryption Tool
      <button onclick="darkmode()" id="darkmode">Dark Mode: Off</button>
    </header>

    <div id="switch">
      <button class="switch_button" style="background-color: white; color: black; " onclick="change_mode(1)">Decrypt</button>
      <button class="switch_button" onclick="change_mode(2)">Encrypt</button>
    </div>

    <div id="form_holder">
        <form action="/encrypt_file" method="post" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" name="user_file" class="custom-file-input" id="inputGroupFile02" accept=".txt" onchange="input_change_text()">
                    <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
                </div>
            </div>
            <div class="dropdown">
                <select type="button" name="options" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <option value="" disabled selected>Select your option</option>
                    <option value="szyfr_vic">VIC</option>
                    <option value="szyfr_vigenere">Szyfr Vigenère'a</option>
                    <option value="cezar">Szyfr Cezara</option>
                </select>
            </div>
            <input type="submit" id="submit" name="submit"value="Send" /><br>
        </form>
    </div>   
  </body>
</html>